//this for prisma, we will pass whole URL here by apending it instead of passing each variable separately.
//This is because prisma uses a single connection string to connect to the database.

DATABASE_URL=